EMARSYS_CLIENT_ID=
EMARSYS_CLIENT_SECRET=
EMARSYS_ACCOUNT_ID=
EMARSYS_TOKEN_URL=https://auth.emarsys.net/oauth2/token
EMARSYS_OAUTH_SCOPE=openid campaign analytics email
EMARSYS_CAMPAIGNS_URL=https://api.emarsys.net/api/v3/campaigns
EMARSYS_V2_BASE_URL=https://api.emarsys.net/api/v2
